---
import CenterSectionLayout from "../layouts/CenterSectionLayout.astro";
import TechnologyIcon from "./ui/icons/TechnologyIcon.svelte";

import languages from "../data/tech.json";
---

<CenterSectionLayout id="tech" title="Most used technologies">
  <p>
    I love bleeding-edge technologies and frameworks! Keep in mind that this
    list is not exhaustive, as I am always tinkering with different tools.
  </p>

  <div class="flex justify-center pt-5 not-prose">
    <div
      class="grid justify-center items-center gap-5 w-[70rem] md:grid-cols-2"
    >
      {
        languages.map((language) => (
          <div class="flex flex-col border-[#2B2B2B] border-2 min-h-[124px] w-[300px] rounded-xl md:w-full md:flex-row">
            <div
              style={`background-color: ${language.backgroundColor}`}
              class="flex justify-center items-center w-full h-auto border-[#2B2B2B] rounded-t-xl md:border-r-2 md:w-24 md:rounded-r-none md:rounded-l-xl"
            >
              <TechnologyIcon
                technology={language.icon}
                className=" w-16 h-24 md:h-16"
                style={`fill: ${language.backgroundColor};`}
              />
            </div>

            <div class="flex flex-col justify-center text-left pl-5 pt-5 pr-5">
              <h1 class="font-bold text-2xl">{language.name}</h1>
              <p class="pt-1 font-light mb-4">{language.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</CenterSectionLayout>
